/* start advantages styles */ 

#advantages {
    //background: #fff;
    .page_width {
        padding-top: 94px;
        padding-bottom: 35px;
    }

    h2 + p {
        margin-bottom: 0;
    }
}

.advantages_slider {
    margin-bottom: 19px;
    overflow: hidden;

    .slick-list {
        padding: 14px 0 10px;
        margin: 0 -14px;
        overflow: visible;
    }
    .item {
        position: relative;
        padding: 42px 50px 30px 60px;
        margin: 30px 14px;
        width: calc(25% - 32px);
        height: 316px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        opacity: 0;
        @include transition(all);

        &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 82%;
            left: 10%;
            top: 9%;
            background: linear-gradient(0deg, #FC00FF 0%, #0057FF 100%);
            filter: blur(20px);
            border-radius: 10px;
            //transform: rotate(-90deg);
            opacity: 1;
            @include transition(all);
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: #FFFFFF;
            border: 1px solid #CBEEF8;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px rgba(61, 127, 255, 0.3);
            border-radius: 10px;
            z-index: 2;
        }
        .icon, .h5, p {
            position: relative;
            z-index: 5;
        }
        .icon {
            margin-bottom: 25px;
        }
        .h5 {
            margin-bottom: 15px;
            line-height: 22px;
            height: 44px;
            overflow: hidden;
        }

        p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 140%;
            max-height: 77px;
            overflow: hidden;
        }

        &:hover::before {
            opacity: 0.6;
            width: 98%;
            height: 96%;
            left: 1%;
            top: 2%;
        }

        &.slick-active {
            opacity: 1;
        }
    }

}

@media screen and (max-width: 1500px) {
    .advantages_slider {
        .item {
            padding: 42px 30px 30px 40px;
        }
    }
}
@media screen and (max-width: 1300px) {
    #advantages {
        .page_width {
            padding-top: 70px;
            padding-bottom: 35px;
        }
    }
}

@media screen and (max-width: 1030px) {
    #advantages {
        .page_width {
            padding-top: 50px;
            padding-bottom: 15px;
        }
    }
    .advantages_slider {
        .item {
            padding: 25px 25px 15px;
            height: 260px;
            .icon {
                margin-bottom: 15px;
                img {
                    height: 60px;
                }
            }
            .h5 {
                margin-bottom: 10px;
                line-height: 20px;
                height: 42px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #advantages {
        .page_width {
            padding-top: 40px;
        }
    }
    .advantages{
        margin-bottom: 30px;
        .item {
            padding: 12px 0 12px 22px;
        } 
    } 
}
@media screen and (max-width: 600px) {
    #advantages {
        .page_width {
            padding-top: 20px;
            padding-bottom: 5px;
        }
    }
}

@media screen and (max-width: 450px) {

    .advantages{
        margin-bottom: 20px;
        .slick-list {
            padding: 14px 0;
            margin: 0 0px;
        }
    } 
}

/* end advantages styles */