/* start projects styles */ 

#projects {
    background: #000 url(images/bg_projects.jpg) no-repeat center top / cover;
    .page_width {
        padding-top: 58px;
        padding-bottom: 13px;
        color: #fff;

    }

    h2 {
        float: left;
    }

    .tab_buttons {
        float: right;
        padding-top: 5px;

        .tab_slider, .tab_map {
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 24px;
                width: 18px;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
        .tab_slider {
            &::before {
                background-image: url(images/icon_projects1.png);
            }
        }
        .tab_map {
            &::before {
                background-image: url(images/icon_projects2.png);
            }
        }
        .tab_slider.active {
            &::before {
                background-image: url(images/icon_projects1_active.png);
            }
        }
        .tab_map.active {
            &::before {
                background-image: url(images/icon_projects2_active.png);
            }
        }
    }

    .tab.active {
        height: 870px;
    }
}

#projects.content {
    background:none;

    .page_width {
        padding-top: 0;
        padding-bottom: 0;
        color: $color_text;
    }

    .tab.active {
        height: auto;
    }

    .tab_buttons {
        margin-top: -93px;
        span.active, a.active {
            background-color: #0057FF;
            color: #fff;
        }
    }
}

.map {
    height: 350px;
    iframe {
        width: 100%;
        height: 100%;
        position: relative;
        border: 0;
    }
}
#projects_map {
    width: 100%;
    height: 100%;
    position: relative;
}

.content #projects_map {
    height: 660px;
}

.projects_slider {
    clear: both;
    max-width: 1040px;
    width: 80%;
    margin: 0 auto 30px;
    overflow: visible;

    .slick-list {
        overflow: visible;
        margin: 0 -8px;
    }

    .slick-arrow {
        margin-top: -56px;
    }

    .item {
        position: relative;
        height: 675px;
        box-sizing: border-box;
        margin: 0 20px 35px;
        @include transition(all);
        overflow: visible;
        transform: scale(0.88);

        .image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            filter: drop-shadow(0px 4px 100px #000000);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 0;
                height: 34.52%;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }
        }

        .button {
            position: absolute;
            bottom: 30px;
            left: 65px;
            color: #fff;
            border-color: #fff;
            opacity: 0;
            @include transition(all);
        }
        h3 {
            position: absolute;
            bottom: 90px;
            left: 65px;
            opacity: 0;
            @include transition(all);
        }

        time {
            opacity: 0;
            position: absolute;
        }

        a {
            color: #fff
        }


        &.slick-current {
            transform: scale(1);

            .button, h3 {
                opacity: 1;
            }
        }
    }
}

.projects_block {
    display: flex;
    flex-wrap: wrap;
    //margin: 0 -10px;
    margin-bottom: 40px;

    display: grid;
    grid-template-rows: 320px 320px 320px 320px;
    grid-template-columns: 30.1% 33.1% 33.1%;
    grid-gap: 20px;
    .item {
        position: relative;
        //margin: 0px 10px 20px;
        //width: calc(33.33% - 20px);
        //height: 320px;
        vertical-align: top;
        box-sizing: border-box;
        color: #fff;
        overflow: hidden;
        @include transition(all);

        &:nth-child(2){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &:nth-child(8){
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
        }

        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            //opacity: 0;

            &::before {
                content: '';
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                @include transition(all);
                //background: linear-gradient(0.66deg, #000000 1.58%, rgba(0, 0, 0, 0) 97.94%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include transition_slow(all);
            }
        }
        h3 {
            margin-bottom: 10px;
            max-height: 99px;
            overflow: hidden;
            font-size: 24px;
            line-height: 33px;
            position: relative;
            z-index: 2;
            opacity: 0;
            padding: 40px 30px 0;
            top: 60%;
            @include transition_slow(all);
            a {
                color: #fff;
            }
        }

        time {
            opacity: 0;
            @include transition_slow(all);
            position: relative;
            display: block;
            top: 60%;
            padding: 0 30px;
            color: #fff;
            z-index: 3;
        }

        .button.btn_white {
            position: absolute;
            bottom: -120px;
            left: 30px;
            float: none;
            height: 40px;
            line-height: 38px;
            border: 1px solid #fff;
            color: #fff;
            opacity: 0;
            @include transition_slow(all);
        }

        &:hover {
            filter: drop-shadow(0px 4px 19px rgba(16, 6, 45, 0.8));
            .image {
                &::before {
                    background: rgba(18, 64, 151, 0.8);
                }
            }

            ul, .button.btn_white { opacity: 1; }
            .image {
    
                img {
                    transform: scale(1.1);
                }
            }
            h3 {
                top: 0;
                opacity: 1;
            }
            time {
                top: 0;
                opacity: 1;
            }
            .button.btn_white {
                bottom: 20px;
            }
        }
    }

}

@media screen and (max-width: 1500px) {
    .projects_block {
        grid-template-rows: 270px 270px 270px 270px;
    }
}
@media screen and (max-width: 1300px) {
    
    #projects .tab.active {
        height: 770px;
    }
    .projects_slider .item {
        height: 575px;
    }
    .projects_block {
        grid-template-rows: 230px 230px 230px 230px;
    }
}
@media screen and (max-width: 1200px) {
    #projects.content .tab_buttons {
        margin-top: -75px;
    }
    #projects.content {
        .tab_buttons span, .tab_buttons a {
            margin: 0 5px;
        }
    }
}
@media screen and (max-width: 1030px) {
    #projects {
        .page_width {
            padding-top: 40px;
        }
        .tab_buttons {
            padding-top: 0px;
            margin-bottom: 20px;
        }
        .tab.active {
            height: 670px;
        }
    }
    .projects_slider {
        margin-bottom: 20px;
        .item {
            height: 475px;
        }
    }
    #projects.content .tab_buttons {
        margin-top: -63px;
    }
    #projects.content {
        .tab_buttons span, .tab_buttons a {
            margin: 0 0px;
        }
    }
    .projects_block {
        grid-template-rows: 200px 200px 200px 200px;
    }
}
@media screen and (max-width: 900px) {
    #projects {
        h2 {
            float: none;
        }
        .tab_buttons {
            float: none;
        }
    }
    #projects.content .tab_buttons {
        margin-top: 0px;
    }
}
@media screen and (max-width: 800px) {
    #projects {
        .page_width {
            padding-top: 30px;
        }
        .tab.active {
            height: 520px;
        }
    }
    .projects_slider {
        margin-bottom: 10px;
        .item {
            height: 375px;
            margin-bottom: 20px;
            .image::after {
                height: 50%;
            }

            h3 {
                left: 25px;
                bottom: 60px;
            }
            .button {
                left: 25px;
                bottom: 20px;
            }
        }
    }
    .projects_block {
        grid-template-rows: 150px 150px 150px 150px;
        grid-gap: 15px;
    }
}
@media screen and (max-width: 600px) {
    #projects {
        .page_width {
            padding-top: 20px;
        } 
        .tab.active {
            height: 410px;
        }
    }
    .projects_slider .item {
        height: 275px;
    }

    .projects_block {
        grid-template-rows: 150px 150px 150px  150px  150px;
        grid-template-columns: 49% 49%;
        grid-gap: 10px;

        &::after {
            display: none;
        }
    }
    .projects_block .item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .projects_block .item:nth-child(8) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
@media screen and (max-width: 450px) {
    #projects {
        .tab.active {
            height: 300px;
        }
    }
    .projects_slider {
        width: 90%;
        .item {
            height: 175px;
            .image::after {
                height: 100%;
            }

            h3, .button {
                left: 15px;
            }
        }
    }
    .projects_block {
        grid-template-rows: 120px 120px 120px 120px 120px;
    }
}

.prev_next {
    position: relative;
    text-align: right;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: -35px;

    &::after {
        @include clear();
    }
    .prev::before, .next::after {
        content: '';
        display: inline-block;
        width: 21px;
        height: 18px;
        background: url(images/arrow.png) no-repeat center;
        vertical-align: middle;
        margin-left: 12px;
        margin-bottom: 2px;
    }

    .prev {
        float: left;

        &::before {
            transform: rotate(180deg);
            margin-right: 12px;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .prev_next {
        margin-bottom: 30px;
        margin-top: -10px;
    }
}
@media screen and (max-width: 800px) {
    .prev_next {
        margin-bottom: 20px;
        margin-top: -10px;
    }
}
@media screen and (max-width: 450px) {
    .prev_next {
        font-size: 12px;
        .prev::before {
            margin-right: 5px;
        }
        .next::after {
            margin-left: 5px;
        }
    }
}

.project_images {
    float: left;
    width: 56%;
    padding-bottom: 55px;

    .main_img {
        //margin-bottom: 26px;
        .slick-list {
            margin: 0 0px;
        }

        .slide {
            height: 555px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .small_images {
        padding: 0 32px;
        margin: 0 -32px;
        .slick-list {
            margin: 0 -13px;
        }

        .slick-arrow {
            margin-top: -22px;
        }

        .img_small {
            margin: 26px 13px;
            height: 145px;
            cursor: pointer;
            @include transition(all);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {

            }

            &:hover {
                filter: drop-shadow(0px 4px 12px rgba(22, 3, 77, 0.5));
            }
        }
    }
}

.text.description {
    margin-left: calc(56% + 45px);
    padding-bottom: 40px;

    .par {
        display: flex;
        padding: 14px 20px;
        
        &:nth-child(2n+1) {
            background-color: #F8F8F8;
        }

        p {
            margin-bottom: 0;
            width: 62%;
        }

        strong {
            width: 38%;
        }
    }

    .basic_description {
        padding-bottom: 40px;
    }

    h2 ~ p {
        max-width: 570px;
    }


    .buttons {
        padding-top: 30px;
    }
}

.about_project {
    clear: both;
    float: left;
    width: 36.4%;
    max-width: 550px;
    position: relative;
    z-index: 2;
    padding-top: 55px;
    padding-bottom: 55px;

    h2::before {
        content: "";
        display: block;
        width: 168px;
        height: 8px;
        margin: 0 0px 18px 3px;
        transform: rotate(180deg);
        background: url(images/bullets.png) center center no-repeat;
    }

    .button {
        margin-top: 40px;
    }
}

.project_map {
    background-color: #F8F8F8;
    position: relative;
    padding-top: 55px;
    padding-bottom: 1px;

    &::after {
        @include clear();
    }

    &::before {
        content: "";
        position: absolute;
        width: 2000%;
        height: 100%;
        background-color: #F8F8F8;
        top: 0;
        left: 50%;
        margin-left: -1000%;
    }

    #map {
        position: relative;
        z-index: 2;
        margin-bottom: 60px;
        margin-left: 42%;
        height: 595px;

        iframe {
            width: 100%;
            height: 100%;
            border:0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .text.description {
        margin-left: calc(56% + 35px);
    }
}
@media screen and (max-width: 1030px) {
    .project_images {
        width: 45%;
        padding-bottom: 30px;
    }
    .project_images .main_img .slide {
        height: 400px;
    }
    .text.description {
        margin-left: calc(45% + 35px);
        .buttons {
            padding-top: 10px;
        }
    }
    .about_project {
        width: 47%;
        padding-top: 30px;
        padding-bottom: 30px;
        
        .button {
            margin-top: 20px;
        }
    }
    .project_map {
        padding-top: 30px;
    }
    .project_map #map {
        margin-bottom: 30px;
        margin-left: 52%;
        height: 595px;
    }
}
@media screen and (max-width: 800px) {
    .project_images {
        width: 100%;
        max-width: 400px;
        padding-bottom: 30px;
        float: none;
        margin: 0 auto;
    }
    .project_images .main_img .slide {
        height: 300px;
    }
    .text.description {
        margin-left: 0;
    }
    .about_project {
        width: 100%;
        max-width: none;
        .button {
            margin-top: 0px;
        }
    }
    .project_map {
        padding-top: 30px;
    }
    .project_map #map {
        margin-left: 0;
        height: 300px;
        clear: both;
    }
}
@media screen and (max-width: 450px) {
    .project_images .small_images {
        display: none;
    }
    .project_images .main_img .slide {
        height: 250px;
    }
}
/* end projects styles */